{% extends "base.html" %}
{% block title %}Clientes SIC{% endblock %}
{% block js_code %}
<script>
  $(function() {
    $( "#id_fecha_limite" ).datepicker({dateFormat:'yy-mm-dd',});
    $( "#id_fecha" ).datepicker({dateFormat:'yy-mm-dd',});
  });
</script>
{% endblock %}
{% block breadcrumb %}{{ block.super }} <a href="/creditos/">Creditos</a> > Credito{% endblock %}
{% block content %}
<form method="post" class="" action="" width="300px"  enctype='multipart/form-data'>
  <br>
{% csrf_token %}
  {% if msg %}
  <div class="alert alert-block alert-error fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4 class="alert-heading">Direccion Repetida</h4>
    <p>{{ msg }}</p>
  </div>
  {% endif %}
  <div class="span3">
    <label>Cliente</label>
    {{ credito_form.cliente }}
    <span class="add-on"><a href="/cliente/" target="_blank"><i class='icon-plus-sign '></i></a></span>
    
  </div>
  <div class="span3">
    <label>Quien otorga el credito</label>
    {{ credito_form.empresa_otorga }}
  </div>
  <div class="span3" style='clear:both;'>
    <label>Fecha de Credito</label>
    <div class="input-prepend input-append">
      <span class="add-on"><i class='icon-calendar '></i></span>
      {{ credito_form.fecha }}
    </div>
  </div>
  <div class="span3">
    <label>Fecha limite</label>
    <div class="input-prepend input-append">
      <span class="add-on"><i class='icon-calendar'></i></span>
      {{ credito_form.fecha_limite }}
    </div>
  </div>
  <div class="span3" >
    <label>Monto de credito</label>
    <div class="input-prepend input-append">
        <span class="add-on">$</span>
        {{ credito_form.monto_total }}
        <span class="add-on">.00</span>
    </div>
    
  </div>
  <div style='clear:both;'>
    {{ credito_form.errors }}
  </div>
  <div class="form-actions mainmenu" style='clear:both;'>
	<input type="submit" class="btn btn-primary" value="Guardar y Salir" />
  </div>
</form>
{% include 'autocomplete_light/static.html' %}
{% endblock %}