{% extends "base.html" %}
{% block title %}Ciudades SIC{% endblock %}
{% block breadcrumb %}{{ block.super }} <a href="/clientes/">Ciudades</a> > Ciudad{% endblock %}
{% block content %}
<form method="post" class="form-horizontal" action="" width="300px"  enctype='multipart/form-data'>
{% csrf_token %}
  <div class="form-actions">
	<input type="submit" class="btn btn-primary" value="Guardar y Salir" />
  </div>
  {{ ciudad_form.errors }}
  {{ ciudad_form.as_p }}
  <div class="form-actions">
	<input type="submit" class="btn btn-primary" value="Guardar y Salir" />
  </div>
</form>
{% include 'autocomplete_light/static.html' %}
{% endblock %}