{% extends "base.html" %}
{% block title %}Clientes SIC{% endblock %}

{% block content %}
	<h3>BURO DE CREDITO COMERCIAL </h3>
	 
	<p>
		<strong>QUIENES ESTAN REPORTADOS EN BCComercial?</strong> cualquier persona que tenga o haya tenido algun credito sin pagar o atrasado  a pago.
	</p>
	<p>
		Nuestro objetivo es dar un soporte crediticio a todos los consumidores de credito y con esto facilitar el acceso a mejores oportunidades de conocer a los clientes morosos y puedan aprovechar los beneficios de las empresas.
	</p>
	
	<p>
		<strong>PUEDEN NEGAR UN CREDITO</strong> por estar reportado con ustedes ? 
	</p>
		
	<p>
		El reporte solo muestra la informacion de los creditos facturas atrasadas o sin pagar y la forma de pago  cada otorgantges es responsable de negar o aprobar el credito  de acuerdo a las politicas establecidas por cada institucion. 
	</p> 
	
	<p>
		Cuando se <strong>ELIMINA LA INFORMACION</strong> de la  base de datos ?
		la informacion se eliminara de la base hasta pagar las facturas vendias o atrasadas.
	</p>
		
	<p>
		<strong>QUIENES</strong>  pueden consultar reporte de credito ?
		cualquier otorgante de credito o empresa comercial podra hacer en forma facil y tu mismo teniendo acceso a la pagina
	</p>
		

	<ul>
		<li>Asegura su credito </li>
		<li>Conocer historial del cliente </li>
		<li>Facilitar creditos en empresas </li>
		<li>Reportar clientes morosos</li>
		<li>Conocer las deudas de los clientes </li>
		<li>Toda persona con usuario a la pagina puede ver al cliente moroso</li>
	</ul>		 
	<br>
	<br>
	<br>
	<address class="text-center">
  		<strong>BCComercial</strong><br>
  		<strong>Buro de Credito Comercial</strong><br>
  		<abbr title="Phone"></abbr> (625) 837 4042 <br>
  		www.bccomercial.com <br>
  		<a href="mailto:#">bccomercial@hotmail.com</a>
	</address>
	
{% endblock %}