{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

<!-- CSS Code -->
{% block style_css %}
<style type="text/css">
.delete-row {
  margin-left:5px;
}
</style>

<link rel='stylesheet' href='{{STATIC_URL}}css/redmond/jquery-ui-1.8.23.custom.css'/>

{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}
<script type="text/javascript">
    // Define this so we don't have to bother with the admin jsi18n stuff:
    function gettext(msgid) { return msgid; }
    </script>
    <script src='{{STATIC_URL}}js/jquery.formset.js'></script>
    <script type="text/javascript">
    $(function() {

      $('#id_doctosIn_table tbody tr input[name$=fecha]').attr('readonly', 'readonly'); 
      $('input[name$=adeudo]').attr('readonly', 'readonly'); 
      
      $('input[name=fecha]').datetimepicker({ dateFormat: 'dd/mm/yy',});
      $('input[name$=fecha_limite]').datetimepicker({ dateFormat: 'dd/mm/yy',});

      $('input[name$=cantidad]').addClass('span1');
      $('input[name$=adeudo]').addClass('span1');
      
      $("#ajax").click(function(event) {
        
        var $form = $("#myform");
        $inputs = $form.find("input, select, button, textarea"),
        serializedData = $form.serialize();

        $.ajax({
          url: "/ajax/",
          type: "post",
          data: serializedData,
          success: function(response) {
            alert(response);
          }
        })
        event.preventDefault();
      });
// .attr('text-align','left');
$('#id_doctosIn_table tbody tr').formset({
  prefix: '{{ formset.prefix }}',
  addCssClass:'btn btn-success',
  addText:'Nuevo Pago',
  deleteText:'',
});
});
</script>

    {% endblock %}
    {% block breadcrumb %}{{ block.super }} <a href="/">Compras</a> > Compra{% endblock %}
    {% block content %}
   
    <form method="post" id='myform' class="form-horizontal" width="300px"  enctype='multipart/form-data'>
      {% csrf_token %}

      <div class="form-actions mainmenu ">
        <input type="submit" class="btn btn-primary" value="Guardar y Salir" />
      </div>
      {{ compra_form.errors }}
      <p >
        <div class="span3">
          <label>Cliente</label>
          {{ compra_form.cliente }}
        </div>
        <div class="span3">
          <label>Estado del Cliente</label>
          <!-- <input type="submit" name ='btnestado_cliente' class="btn" value="Checar" /> -->
        </div>
        <div class="span3 ">
          <label>Tipo de Prestamo</label>
          {{ compra_form.tipo_prestamo }}
        </div>
        <div class="span3 ">
          <label>Estado del prestmo</label>
          {{ compra_form.estado }}
        </div>
        <div class="span3 ">
          <label>Sucursal</label>
          {{ compra_form.sucursal }} 
        </div>
      </p>
      <p style='clear:both;'>

        <div class='span3'>
         <label>Inicio de prestamo</label>
         {{ compra_form.fecha }} 
       </div>
       <div class='span3'>
        <label>Fin de prestamo</label>
        {{ compra_form.fecha_limite }}
      </div>
      <div class="span3">
        <label>Cantidad Total</label>
        <div class="input-prepend input-append"> 
          <span class="add-on">$</span>
          {{ compra_form.cantidad }}
          <span class="add-on">.00</span>
        </div> 
      </div>
      <div class="span3">
        <label>Adeudo</label>
        <div class="input-prepend input-append">
          Debe 
          <span class="add-on">$</span>
          {{ compra_form.adeudo }}
          <span class="add-on">.00</span>
        </div>
      </div>
    </p>
    <div id="doctosIn_data" style='clear:both;'>
      <hr>
      {{ formset.total_form_count }} Pago {{ formset.total_form_count|pluralize }}
      <fieldset>
        <table class="table tableCell table-hover" id="id_doctosIn_table" border="0" cellpadding="0" cellspacing="5">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Cantidad</th>
              <th>Descripcion</th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset.forms %}
            <tr id="{{ form.prefix }}-row" class="form-container">
              {{ form.errors }}
              <td>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                {{ form.fecha }}
              </td>
              <td>
                <div class="input-prepend input-append">
                  <span class="add-on">$</span>
                  {{ form.cantidad }}
                  <span class="add-on">.00</span>
                </div>
                {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
              </td>
              <td>{{ form.descripcion }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </fieldset>
      {{ formset.management_form }}
    </div>
    <div class="form-actions mainmenu">
      <input type="submit" class="btn btn-primary" value="Guardar y Salir" />
    </div>
  </form>

  {% include 'autocomplete_light/static.html' %}
  {% endblock %}