{% extends "base.html" %}
{% block title %}Clientes SIC{% endblock %}
{% block breadcrumb %}{{ block.super }} <a href="/clientes/">Clientes</a> > Cliente{% endblock %}
{% block content %}
<form method="post" class="" action="" width="300px"  enctype='multipart/form-data'>
{% csrf_token %}
  <div class="form-actions mainmenu">
	<input type="submit" class="btn btn-primary" value="Guardar y Salir" />
  </div>
   {% if msg %}
  <div class="alert alert-block alert-error fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4 class="alert-heading">Direccion Repetida</h4>
    <p>{{ msg }}</p>
  </div>
  {% endif %}
  <div class="span3">
    <label>Nombre</label>
    {{ cliente_form.nombre }}
  </div>
  <div class="span3">
    <label>Codigo Postal</label>
    <div class="input-prepend input-append">
      <span class="add-on">#</span>
      {{ cliente_form.codigo_postal }}
    </div>
  </div>
  <div class="span3">
    <label>Calle</label>
    {{ cliente_form.dir_calle }}
  </div>
  <div class="span3" style='clear:both;'>
    <label>No Exterior</label>
    <div class="input-prepend input-append">
      <span class="add-on">#</span>
      {{ cliente_form.dir_no_exterior}}
    </div>
  </div>
  <div class="span3">
    <label>No Interior</label>
    <div class="input-prepend input-append">
      <span class="add-on">#</span>
      {{ cliente_form.dir_no_interior }}
    </div>
  </div>

  <div class="span3">
    <label>Colonia</label>
    {{ cliente_form.dir_colonia }}
  </div>
  <div class="span3">
    <label>Poblacion</label>
    {{ cliente_form.dir_poblacion }}
  </div>
  <div class="span3">
    <label>Telefono</label>
    <div class="input-prepend input-append">
      <span class="add-on">#</span>
      {{ cliente_form.telefono }}
    </div>
  </div>
  <div class="span3">
    <label>Ciudad</label>
    {{ cliente_form.city }}
  </div>
  {{ cliente_form.errors }}
  <div style='clear:both;'> 
   <table class="table table-hover">
    <tr>
      <th style="width: 400px;">Id</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Adeuda</th>
      <th>Acciones</th>
    </tr>
    {% for cliente in clientesIguales %}
    <tr>
      <td><a href="/cliente/{{ cliente.id }}/">{{ cliente.id }}</a></td>
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.city }}</td>
      <td>{{ cliente.adeudo }}</td>
      <td style="text-align:center;">
           
          </td>
    </tr>
    {% endfor %}
  </table>
  </div>
  <div class="form-actions mainmenu" style='clear:both;'>
	<input type="submit" class="btn btn-primary" value="Guardar y Salir" />
  </div>
</form>
{% include 'autocomplete_light/static.html' %}
{% endblock %}