	{% extends "base.html" %}
	{% block title %}Inicio{% endblock %}
	{% block breadcrumb %}{{ block.super }} <a href="/clientes/">Clientes</a>{% endblock %}
	{% block content %}
	<div class="form-actions">
		<form action="/" method="get">
			<div class="input-append">
				<input id="id_filtro" name="filtro" class="span5" type="text" value="{{ filtro }}" placeholder="Nombre de cliente, Sucursal, Estado de la cliente"/>
				<button class="btn btn-primary" type="submit" name="_btn" value=""><i class="icon-search"></i></button>
				<a class="btn btn-success" href="/cliente/"><i class='icon-plus-sign'></i></a>
			</div>
			<small class='muted'>Búsqueda avanzada
			</small>
			<a class="" href="/cliente/" rel="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover on top">
				<i class='icon-plus-sign'></i>
			</a>
		</form>
	</div>
	<table class="table table-hover">
		<tr>
			<th style="width: 400px;">Id</th>
			<th>Nombre</th>
			<th>Direccion</th>
			<th>Adeuda</th>
			<th>Estado</th>
		</tr>
		{% for cliente in clientes %}
		<div id="myModal{{ cliente.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="myModalLabel">Seguro que Deseas Eliminar</h3>
			</div>
			<div class="modal-body">
				<h4>Al eliminar esta cliente</h4>
				<p style="color:red;">Ya no sera posible recuperar sus datos de nuevo</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal">Close</button>
				<a href="/cliente/delete/{{ cliente.id }}/" class="btn btn-primary">Estoy Seguro</a>
			</div>
		</div>
		<tr>
			<td><a href="/cliente/{{ cliente.id }}/">{{ cliente.id }}</a></td>
			<td>{{ cliente.nombre }}</td>
			<td>{{ cliente.direccion }}</td>
			<td>{{ cliente.adeudo }}</td>
			<td>{{ cliente.estado }}</td>
		</tr>
		{% endfor %}
	</table>

	{% endblock %}