{% extends "base.html" %}
{% block title %}Clientes SIC{% endblock %}
{% block breadcrumb %}{{ block.super }} <a href="/clientes/">Clientes</a> > Cliente{% endblock %}
{% block content %}
<form method="post" class="form-horizontal mainmenu" action="" width="300px"  enctype='multipart/form-data'>
{% csrf_token %}
  <div class="form-actions mainmenu">
	<input type="submit" class="btn btn-primary" value="Guardar y Salir" />
  </div>
   {% if msg %}
  <div class="alert alert-block alert-error fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4 class="alert-heading">Direccion Repetida</h4>
    <p>{{ msg }}</p>
  </div>
  {% endif %}
  <div class="span3">
    <label>Nombre</label>
    {{ cliente_form.nombre }}
  </div>
  <div class="span3">
    <label>Edad</label>
    {{ cliente_form.edad }}
  </div>
  {{ cliente_form.errors }}

  {{ cliente_form.as_p }}
  
  <div class="form-actions">
	<input type="submit" class="btn btn-primary" value="Guardar y Salir" />
  </div>
</form>
{% include 'autocomplete_light/static.html' %}
{% endblock %}